/* styles/attribution.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdfb;
    color: #222;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header, footer {
    background-color: #4e342e;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1{
    color: white;
  }
  h2{
    color: #6d4c41;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }
  
  a {
    color: #6d4c41;
    text-decoration: underline;
  }
  
  a:hover {
    color: #a1887f;
  }
  